<div class="container-fluid ">
    <div class="row">
        <div class="col col-sm-12 col-md-12 col-lg-12 topimg ">
            <h1 style="color:rgb(3, 129, 183); border:3px solid black">Car Insurance</h1>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class=" col-sm-10 col-md-12 col-lg-6 insurance-details">
            <div>
                <h2 class="headers">Car policy is a multiple-line insurance policy
                </h2>
                <p class="para">Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                    survived not only five centuries, but also the leap into electronic typesetting, remaining
                    essentially unchanged. Randomised words which don't slightly believable.</p>
                <p class="para">There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some form, by injected humour, or randomised
                    words which don't look even slightly believable.</p>
                <p class="para">There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some for.</p>
            </div>
        </div>
        <div class=" col-sm-10 col-md-12 col-lg-6"><img src="../../../assets/images/car-policy.jpg" width="100%" alt="">
        </div>
    </div>
    <br>
    <div>
        <div>
            <h2 class="headers">Four major elements that we offer:</h2>
            <br>
            <p class="para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in sed quia non numquam
                eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem</p>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 para">
                <ul style="margin-left:34px ;line-height:2.5;">
                    <li>Scientific Skills For getting a better result</li>
                    <li>Communication Skills to getting in touch</li>
                    <li>A Career Overview opportunity Available</li>
                    <li>A good Work Environment For work</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 para">
                <ul style="margin-left:34px; line-height:2.5;">
                    <li>Scientific Skills For getting a better result</li>
                    <li>Communication Skills to getting in touch</li>
                    <li>A Career Overview opportunity Available</li>
                    <li>A good Work Environment For work</li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <h2 class="headers">
            Setting the mood with incense
        </h2>
        <p class="para">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in sed quia non numquam eius modi tempora
            incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        </p>
        <div class="row">
            <img class="col-sm-4 col-lg-4 col-md-4 img" src="../../../assets/images/img1.jpg" width="300px"
                alt="image 1">
            <img class="col-sm-4 col-lg-4 col-md-4 img" src="../../../assets/images/img2.jpg" width="300px"
                alt="image 2">
            <img class="col-sm-4 col-lg-4 col-md-4 img" src="../../../assets/images/img3.jpg" width="300px"
                alt="image 3">
        </div>
        <div class="para">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in sed quia non numquam eius modi
                tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
        </div>
        <div class="quote">
            <h4>A well-known quote, contained in a blockquote element.</h4>
        </div>
        <div class="para">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in sed quia non numquam eius modi
                tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
        </div>
    </div>
    <hr>
    <div>
        <div class="pageNavigation">
            <div style="max-width: 250px;">
                
                <button class="prev-img"  (click)="previous()">
                    <div class="row g-0">
                        <div class="col-sm-4 col-md-4" >
                            <img src="../../../assets/images/life-policy.jpg" class="img-fluid rounded  " alt="...">
                        </div>
                        <div class="col-sm-8 col-md-8">
                            <div>
                                <h5 style="margin-top: 2px;" >Health Insurance</h5>
                                <p ><small class="text-muted">January 21,2021</small></p>
                            </div>
                        </div>
                    </div>
                </button>
            </div>
            <div style="max-width: 250px;">
                <button class="prev-img"  (click)="next()">
                    <div class="row g-0">
                        
                        <div class="col-sm-8 col-md-8">
                            <div>
                                <h5 style="margin-top: 2px;" >Travel Insurance </h5>
                                <p ><small class="text-muted">January 21,2021</small></p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4" >
                            <img src="../../../assets/images/travel-policy.jpg" class="img-fluid rounded  " alt="...">
                        </div>
                    </div>
                </button>
            </div>
        </div>
        <hr>
        <br>
        <br>
        <br>
    </div>
</div>
